html,
body {
  width     : 100%;
  overflow-x: hidden;
}

.container {
  display       : flex;
  flex-direction: column;
  width         : 90%;
  margin        : 0 auto;
  padding       : 15px;
}

.text-center {
  text-align: center;
}

.product__container--outer {
  display       : flex;
  flex-direction: row;
  flex-wrap     : wrap;
  width         : 90%;
  margin        : 0 auto;
  padding-left  : 0;
}

.product__container--filter {
  width          : 90%;
  margin         : 0 auto;
  display        : flex;
  justify-content: end;
  padding-right  : 5%;
}

.product__container--inner {
  display       : flex;
  flex-direction: row;
  width         : 100%;
}

@media (min-width: 767px) {

  .product__container--inner {
    width: 50%
  }
}

@media (min-width: 1024px) {

  .product__container--inner {
    width: 33.33%
  }
}

.flexible {
  flex-grow: 1;
}

.img-fluid {
  max-width: 100%;
}