html,
body {
  width     : 100%;
  overflow-x: hidden;
}

.container {
  display       : flex;
  flex-direction: column;
  width         : 90%;
  margin        : 0 auto;
  padding       : 15px;
}

/**
 * Product cards container
 */
.product__container--outer {
  display       : flex;
  flex-direction: row;
  flex-wrap     : wrap;
  width         : 90%;
  margin        : 0 auto;
  padding-left  : 0;
}

.product__container--filter {
  width          : 90%;
  margin         : 0 auto;
  display        : flex;
  justify-content: end;
  padding-right  : 5%;
}

.product__container--inner {
  display       : flex;
  flex-direction: row;
  width         : 100%;
}

@media (min-width: 767px) {

  .product__container--inner {
    width: 50%
  }
}

@media (min-width: 1024px) {

  .product__container--inner {
    width: 33.33%
  }
}

/**
 * General Styles
 */
.flexible {
  flex-grow: 1;
}

.img-fluid {
  max-width: 100%;
}

.text-purple {
  color: rebeccapurple;
}

.text-center {
  text-align: center;
}

.d-block {
  display: block;
}

.d-flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.visuallyhidden {
  visibility: hidden;
}

.productSearchInput input {
  width        : calc(100vw - 30%);
  margin       : 0 auto;
  height       : 40px;
  display      : flex;
  margin-bottom: 50px;
}

.mb-0 {
  margin-bottom: 0;
}